*.o
software/scsi2sd-util/build
software/build
*~
*.log
*.xcuserstate
software/Xcode/SCSI2SD-util/Pods/*
software/Xcode/SCSI2SD-util/Pods
software/Xcode/SCSI2SD-util/Podfile.lock
software/Xcode/SCSI2SD-util/build
software/Xcode/SCSI2SD-util/build/*
