*.o
software/scsi2sd-util/build
software/build
*~
*.log
*.xcuserstate
heron.xcuserdatad/*
software/Xcode/SCSI2SD-util/Pods/*
software/Xcode/SCSI2SD-util/Pods
software/Xcode/SCSI2SD-util/Podfile.lock
software/Xcode/SCSI2SD-util/build
software/Xcode/SCSI2SD-util/build/*
software/Xcode/SCSI2SD-util/SCSI2SD-util.xcworkspace/xcuserdata
software/Xcode/SCSI2SD-util/SCSI2SD-util.xcworkspace/xcuserdata/*
.DS_Store